div#divLogin{
	margin: auto;
	margin-top: 10%;
	width: 300px;
	height: 210px;
	border-radius: 20px;
}

div#titleLogin{
	text-align: center;
}

div.form-group{
	padding-left: 5px;
	padding-right: 5px;
}

div#btnGroupLogin{
	text-align: center;
}

a#navbarBrand{
	color: #337ab7;
}

div#loginHeader{
	border-top-left-radius: 17px;
	border-top-right-radius: 17px;
}

.navbar{
    border: 1px solid black;
}
div.navTop{
    background-color: #183047;
}

/*Index*/
li#lastOptionMenuTop{
    padding-right: 10px;
}

section#content{
    background-color: #183047;

}

/*BARRA DE MENU*/
div#sidebar{    
    position:absolute;
    margin-top: 10px;
    background-color: #183047;
    width: 15%;
    height:93.2%;
}

ul#sideMenu{
    text-align: left;

}

span.icones{
    padding-right: 5px;
}

li#sidebarHome{
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
#sidebarHome a:hover,
#sidebarHome a:active,
#sidebarHome a:focus{
    background: none;
}

a.sideOptions{
    color:#DCDCD5;
    text-decoration: none;
}

/*content*/
div#content-wrapper{
    width: 90%;
    height:620px;
}

iframe#principal{
    height: 100%;
    width:100%;
}

tr.tabelaClicavel{
    cursor: pointer;
}


/* PERFIL */
span.legendaPerfil{
    font-weight: bold;
} 

legend.tituloPerfil{
    font-weight: bolder;
}