html, body{
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;  
}

.principal{
	height: 81%;
	
}
.linhaPrincipal{
	height: 100%;
}

.conteudo{
	height: 100%;
}

.rodape{
	height: 12%;
	background-color: #183047;
	border-top:1px solid black;
	
	overflow-y: auto;
}

.conteudoRodape{
	padding: 0;
	color: #DCDCD5;
	text-align: center;

}


a:hover{
	text-decoration: none;
}

/* CONF TIPO MENSAGEM*/
#titleTipoMensagem{
	background-color: #CCE5FF;
	border:1px solid #99CCFF;
	text-align: center;
}

a #titleTipoMensagem{
	font-weight:bold;
	color: #3E5594;
}
a #titleTipoMensagem:hover{
	font-weight:bolder;
}

#bodyTipoMensagem a{
	text-align: center;
	color: #3E5594;
	
}

/* CONF PERFIL*/
#titlePerfil{
	background-color: #FFFFCC;
	border:1px solid #FFFF66;
	text-align: center;
}

a #titlePerfil{
	font-weight:bold;
	color: #94913E;
}
a #titlePerfil:hover{
	font-weight:bolder;
}

#bodyPerfil a{
	text-align: center;
	color: #94913E;
	
}

/* CONF USUARIO*/
#titleUsuario{
	background-color: #CCFFCC;
	border:1px solid #66FF66;
	text-align: center;
}

a #titleUsuario{
	font-weight:bold;
	color: #41943E;
}
a #titleUsuario:hover{
	font-weight:bolder;
}

#bodyUsuario a{
	text-align: center;
	color: #41943E;
}

/* CONF DEPARTAMENTO*/
#titleSetor{
	background-color: #FFCCCC;
	border:1px solid #FF9999;
	text-align: center;
}

a #titleSetor{
	font-weight:bold;
	color: #943E47;
}
a #titleSetor:hover{
	font-weight:bolder;
}

#bodySetor a{
	text-align: center;
	color: #943E47;
	
}

/*/CONF DEPARTAMENTO*/
/*CONF ADMINISTRAR*/
.admPills{
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.panel{
	margin: 0px;
	margin-bottom: 5px;
}
/*/CONF ADMINISTRAR*/
