html,body{
	height: 100%;
}
#content{
	margin-top: -1.6%;
	height:83%;
}

.row{
	height: 100%;
	border-top:1px solid black;
}



/*CONTEUDO*/
.display{
	height:100%;
	padding: 0px;
}

/* PERFIL */
span.legendaPerfil{
    font-weight: bold;
} 

legend.tituloPerfil{
    font-weight: bolder;
}

tr.tabelaClicavel{
    cursor: pointer;
}
