.panel{
	width: 300px;
	margin: auto;
	margin-top: 10%;
	text-align: center;
	border-color: #183047;
	border-radius: 20px;
	padding: 0px;
}

.panel-heading{
	border-top-left-radius: 17px;
	border-top-right-radius: 17px;
	background-color: green;
}

#loginHeader{
	background-color: #183047;
	color: white;
	font-weight: bold;
}

#btnLogin{
	background-color: #183047;
	color: white;
}