.menuLateral{
	padding: 0px;
	background-color: #183047;
	height: 100%;
}

#opcaoMenuLateral0{
	color: #DCDCD5;
	text-align: center;
	font-weight: bold;
	height: 40px;
}

.active{
	border-left: 5px solid #DCDCD5;
}

/*OPCOES DO MENU LATERAL*/

#opcaoMenuLateral0:hover{
	background: none;
}

#opcaoMenuLateral1{
	color: #DCDCD5;
}

#opcaoMenuLateral1:hover{
	background: none;
	border-left: 5px solid #DCDCD5;
}

#opcaoMenuLateral2{
	color: #DCDCD5;
}

#opcaoMenuLateral2:hover{
	background: none;
	border-left: 5px solid #DCDCD5;
}

#opcaoMenuLateral3{
	color: #DCDCD5;
}

#opcaoMenuLateral3:hover{
	background: none;
	border-left: 5px solid #DCDCD5;
}

#opcaoMenuLateral4{
	color: #DCDCD5;
}

#opcaoMenuLateral4:hover{
	background: none;
	border-left: 5px solid #DCDCD5;
}

#opcaoMenuLateral5{
	color: #DCDCD5;
}

#opcaoMenuLateral5:hover{
	background: none;
	border-left: 5px solid #DCDCD5;
}
/*FIM  OPCOES DO MENU LATERAL*/

span.icones{
    padding-right: 5px;
}