.menuSuperior{
	background-color: #183047;
	border-bottom: 1px solid black;
}

#tituloTopo{
	color: #DCDCD5;
}

#opcaoMenuSuperior1{
	color: #DCDCD5;
}

#opcaoMenuSuperior1:hover{
	text-decoration: underline;
}

#opcaoMenuSuperior2{
	color: #DCDCD5;
}

#opcaoMenuSuperior2:hover{
	text-decoration: underline;
}

.activeTopo{
	border-bottom: 2px solid white;
}
